.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 36.25px;
  

}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  }
.profile__edit-button {
  background: transparent url(../images/edit_button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  display: grid;
  grid-area: button;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  align-self: center;
  margin-left: 18px;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/plus_sign.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
  
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 373px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  max-width: 415px;
  grid-template-areas: "description";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  grid-area: description;
}
.profile__image {
  height: 120px;
	width: 120px;
	border-radius: 60%;
	object-fit: cover;
	background-position: center;
	margin-right: 24px;
 
  
}
.profile_background {
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-top: 24px;
}
